{% extends 'teacher/_base.html.twig' %}

{% block page_title %}
    Tableau de bord
{% endblock %}

{% block content %}
    <div class="grid grid-cols-3 gap-4 mt-8">

        <a href="{{ path('teacher_appointments') }}" class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">
                    Mes rendez-vous
                </h2>

            </div>
        </a>
        <a href="{{ path('teacher_students') }}" class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">
                    Mes élèves
                </h2>

            </div>
        </a>
        <a href="{{ path('teacher_appointments') }}" class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">
                    Mon compte
                </h2>

            </div>
        </a>
    </div>
{% endblock %}
