{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <a href="{{ path('app_logout') }}" class="underline p-3 float-end">Déconnexion</a>
    {% endif %}

    <div class="container prose">


        <div class="card bg-base-100 shadow-lg my-4">
            <a href="{{ path('home') }}" class="not-prose">
                <figure>
                    <img src="{{ asset('images/illustation.jpeg') }}"
                         alt="Illustration" class="max-h-[200px] object-cover w-full rounded-t-2xl"/>
                </figure>
            </a>
            <div class="card-body items-center text-center">
                <h1 class="card-title mt-0 mb-6">
                    École Les Fontanilles
                </h1>
                <h2 class="text-gray-700 my-0">
                    Bienvenue sur le site de l'école Les Fontanilles
                </h2>
            </div>
        </div>



        {% block content %}

        {% endblock %}

    </div>


{% endblock %}
