<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invitation enseignant</title>
</head>
<body>
Vous avez été invité à rejoindre l'application de prise de rendez-vous en tant qu'enseignant. <br>
Veuillez vous connecter pour définir votre mot de passe.

<a href="{{ url('app_login') }}">Se connecter</a>
</body>
</html>
